<!-- 
   <div class="w-screen h-screen flex flex-col gap-5 justify-center mt-6 mb-6">
    <div class="search-hero ">
        <div class="search-hero">
            <input class="form-controlMe" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Rechercher...">
          </div>     
            <button  style="float: right;" type="button" class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">archive</button>
    
          </div>
          
    <div class="w-100 h-100   ">  overflow-x-auto relative shadow-md sm:rounded-lg 
        <table class="w-full text-sm text-left text-dark-500 dark:text-dark-400">
            <thead class="text-xs text-white uppercase bg-blue-500 dark:bg-blue-500 dark:text-dark-400">
                <tr>
                    <th scope="col" class="p-4">
                        
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Nom
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Prénom
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Matricule
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Email
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Role
                    </th>
                    
                    <th scope="col" class="py-3 px-6">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border boder-2 " *ngFor="let donnes of donne  | filter:searchText | paginate: { itemsPerPage: 5, currentPage: pages }">
                    <td class="p-4 w-4">
                        
                    </td>
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{donnes.nom}}
                    </th>
                    <td class="py-4 px-6">
                        {{donnes.prenom}} 
                    </td>
                    <td class="py-4 px-6">
                        {{donnes.matricule}}                    
                    </td>
                    <td class="py-4 px-6">
                        {{donnes.email}} 
                    </td>
                    <td class="py-4 px-6">
                        {{donnes.role}} 
                    </td>
                    
                    <td class="flex items-center py-4 px-6 space-x-3">
                        
                       
                        
                           <button (click)="Res(donnes.id)" style="border: none;background-color: white;" type="submit">
                            <svg width="25" height="25" viewBox="0 0 46 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.875 0H43.125C44.7152 0 46 2.01094 46 4.5V9C46 11.4891 44.7152 13.5 43.125 13.5H2.875C1.28477 13.5 0 11.4891 0 9V4.5C0 2.01094 1.28477 0 2.875 0ZM2.875 18H43.125V54C43.125 58.9641 40.5465 63 37.375 63H8.625C5.45352 63 2.875 58.9641 2.875 54V18ZM14.375 29.25C14.375 30.4875 15.0219 31.5 15.8125 31.5H30.1875C30.9781 31.5 31.625 30.4875 31.625 29.25C31.625 28.0125 30.9781 27 30.1875 27H15.8125C15.0219 27 14.375 28.0125 14.375 29.25Z" fill="black"/>
                             </svg> 
                             </button>               
                             
                            </td>  
                            
                           
                     </tr>
    
                
                    
            </tbody>
        </table>
        <div class="container ">
            <div class="pagination">
           <pagination-controls  (pageChange)="pages = $event"></pagination-controls>
         </div>
         </div>
    </div>
    
    
       </div> 
 -->