<div class=" h-screen flex flex-col gap-5 justify-center mt-6 mb-6 px-32 py-32" *ngIf="tabOn">
    <div class="flex justify-between">
        <div class="">
            <input class="form-controlMe "  type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="Rechercher...">
        </div>
        <div>
            <a routerLink="/tableau-arch/">
            <button type="button"
                class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 mr-2 mb-2">archive

            </button>
        </a>
        </div>
    </div>

    <div class="w-full h-full"> <!-- overflow-x-auto relative shadow-md sm:rounded-lg -->
        <table class="w-full text-sm text-left text-dark-500 dark:text-dark-400 ">
            <thead class="text-xs text-white uppercase bg-blue-500 dark:bg-blue-500 dark:text-dark-400">
                <tr>
                    <th scope="col" class="p-4">

                    </th>
                    <th scope="col" class="py-3 px-6">
                        Nom
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Prénom
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Matricule
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Email
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Role
                    </th>

                    <th scope="col" class="py-3 px-6">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="searchText; else elseBlock">
                  <ng-container class="border boder-2 "
                    *ngFor="let donnes of donne | search:searchText">
                    <app-liste #wrapper [donnes]="donnes" [changeRole]="changeRole"
                     [delete]="delete" [recupereDonne]="recupereDonne"></app-liste>
                     <ng-content *ngTemplateOutlet="wrapper.liste"></ng-content>
                  </ng-container>
                </ng-container>

                <ng-template #elseBlock>
                  <ng-container class="border boder-2 "
                  *ngFor="let donnes of donne | paginate: { itemsPerPage: 5, currentPage: pages }">
                  <app-liste #wrapper [donnes]="donnes" [changeRole]="changeRole"
                   [delete]="delete" [recupereDonne]="recupereDonne"></app-liste>
                   <ng-content *ngTemplateOutlet="wrapper.liste"></ng-content>
                </ng-container>
                  <!-- <ng-container class="border boder-2 "
                    *ngFor="let donnes of donne | paginate: { itemsPerPage: 5, currentPage: pages }">
                    <app-liste [donnes]="donnes" [changeRole]="changeRole"
                     [delete]="delete" [recupereDonne]="recupereDonne"></app-liste>
                </ng-container> -->
                </ng-template>


            </tbody>
        </table>

    </div>
    <div class="flex justify-center "> <!-- fixed-bottom justify-content-center -->
        <div class="pagination">
            <pagination-controls (pageChange)="pages = $event"></pagination-controls>
        </div>
    </div>




</div>
<div class="flex  gap-5 justify-center mt-4 mb-6" *ngIf="!tabOn">
  <h1 class="font-bold" style="margin-left:47%" >Modification</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
        <div class="mb-2">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prenom</label>
            <input type="text" formControlName="prenom" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['prenom'].errors }"
                class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required>

            <div *ngIf=" f['prenom'].errors" class="invalid-feedback">
                <div *ngIf="f['prenom']['errors']['required']">prenom is required</div>

            </div>
        </div>

        <div class="mb-2">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
            <input type="text" formControlName="nom" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['nom'].errors }"
                class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required>
            <div *ngIf=" f['nom'].errors" class="invalid-feedback">
                <div *ngIf="f['nom']['errors']['required']">nom is required</div>
            </div>
        </div>
        <div class="mb-2">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required>

            <div *ngIf=" f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email']['errors']['required']">Email is required</div>
                <div *ngIf="f['email']['errors']['email']">Email must be a valid email address</div>
            </div>
        </div>

        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Modifier</button>
    </form>
</div>
